<!doctype html>
<head>
  <meta charset="utf-8">
  <title>EEEEEMAIL</title>
  <meta name="description" content="Eeeeemail will send one randomly selected email from your sent mail in your Gmail and send that to another eeeemailer. In return you will recieve a randomly selected email from that person.">
  <meta name="author" content="">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="container">
  <h1><a href="/"><img src="email.jpg" alt="eeeeemail"/></a></h1>