<% include _header %>
<p>We’re ready to EEEEEMAIL! Click the button to send a random email from your Sent Mail folder to a stranger. In return, you’ll receive a random email from that person.
<br/><br/>
We’ll hide the email addresses. We’ll show you which email we’ve sent.
</p>

<a id="doEmail" href="/doemail">CLICK HERE TO EEEEEMAIL</a>

<% include _footer %>